[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  included_files = ["server/**", "src/**", "dist/**"]

[dev]
  command = "npm run dev"
  targetPort = 5173
  port = 8888
  autoLaunch = false

[[redirects]]
  from = "http:*"
  to = "https://:splat"
  status = 301
  force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
